@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url(parallax.css);
@import url(home.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_card {
    width: auto;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.container_card .card {
    position: relative;
    cursor: pointer;
}

.container_card .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 5px;
}

.container_card .card .face.face1 {
    position: relative;
    background: #2e2d2c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container_card .card:hover .face.face1 {
    background-color: #f49621;
    transform: translateY(0);
}

.container_card .card .face.face1 .content_card {
    opacity: 0.5;
    transition: 0.5s;
}

.container_card .card:hover .face.face1 .content_card {
    opacity: 1;
}

.container_card .card .face.face1 .content_card img {
    max-width: 100px;
}

.container_card .card .face.face1 .content_card h3 {
    margin: 10px 0 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container_card .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container_card .card:hover .face.face2 {
    transform: translateY(0);
}

.container_card .card .face.face2 .content_card a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    transition: 0.4s;
}

.container_card .card .face.face2 .content_card a:hover {
    border-radius: 10px;
    background: #10536d;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagem_404 {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}


